@import "tailwindcss";

@theme {
  --color-bg:        #0d0d12;
  --color-surface:   #13131a;
  --color-surface-2: #1c1c26;
  --color-accent:    #7c6aff;
  --color-accent-2:  #e040a0;
  --color-gold:      #f59e0b;
  --color-muted:     #6b7280;
  --color-border:    #232330;
  --color-fg:        #f0f0f8;
}

body {
  background-color: #0d0d12;
  color: #f0f0f8;
}
